<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs'); %>
</head>
<body>

    <%- include('../partials/nav.ejs'); %>


    <div class="text-center w-50 mt-5 mx-auto">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rerum sequi excepturi id fuga. Corporis possimus incidunt doloremque. Dolor, esse omnis facere et hic autem suscipit similique vero nisi cum.</p>
    </div>
    
</body>
</html>