<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs'); %>
</head>
<body>

    <%- include('../partials/nav.ejs'); %>


    <div class= "mt-5 mx-auto">
        <h1 class="text-center">Our Products</h1>
        <div id="app"></div>
    </div>
    
    <%- include('../partials/script.ejs'); %>
</body>
</html>